body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: hidden;
    *{
        font-family: Arial;
        /* width */
        &::-webkit-scrollbar {
            width: 6px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            border-radius: 5px;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #0B1924;
            border-radius: 5px;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #0B1924; 
        }
    }
}
#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.toast{
    position: fixed;
    z-index: 999;
    left:30px;
    bottom: 40px;
    padding:20px;
    background: #172B3A;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color:#fff;
    &.info{
        color:#fafafa;
    }
}